body {
  background-color: #831111;
}

input , button {
  margin: 10px auto;
}

.App {
  width: 50%;
  background-color: #153466;
  color: aliceblue;
  border-radius: 50px;
  margin: 100px auto;
  padding: 0px 25px 35px 27px;
  box-shadow: 7px 5px 20px #000;
}

.App img {
  width: 18%;
  display: block;
  margin: auto;
}

.circleeebtn {
  /* position: absolute; */
  float: right;
  border-radius: 50%;
  /* right: 15px; */
  margin: -6px auto auto auto;
  /* margin-top: -5px ; */
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
}

.reminder-titel {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.listItems {
  margin: 10px auto;
  color: black;
}