body {
  background-color: #831111;
}

.App {
  width: 50%;
  background-color: #153466;
  color: aliceblue;
  border-radius: 50px;
  margin: 100px auto;
  padding: 0px 25px 35px 27px;
  box-shadow: 7px 5px 20px #000;
}